<%- include('partials/header') -%>

<h2>Confirming order</h2>
<% for( let i = 0; i < order.length; i++ ){%>
<div class="orderContainer">
  <h2><%=order[i].name%></h2>
  <p><%=order[i].course%></p>
  <span id="orderItemId" hidden><%=order[i]._id%></span>
</div>
<% } %>

<a href="/dashboard" class="btn btn-primary">Whoops, Go back.</a>

<form action="/api/confirmOrder" method="POST">
  <input id="confirm" name="confirm" type="text" hidden />
  <button type="submit" class="btn btn-primary mt-2">Looks good</button>
</form>
<script src="/javascript/orderCreator.js"></script>
<%- include('partials/footer') -%>
