<%- include('partials/header') -%>
<div></div>
<h2>Confirming order</h2>
<% for( let i = 0; i < order.length; i++ ){%>
<div>
  <h2><%=order[i].name%></h2>
  <p><%=order[i].course%></p>
  <p hidden><%=order[i]._id%></p>
  <button>X</button>
</div>
<% } %>
<div></div>
<%- include('partials/footer') -%>
