<%- include('partials/header') -%>
<div class="mt-5">
  <h2>Add an Item</h2>
  <form action="/items/createItem" method="POST">
    <label for="name" >Name</label>
    <textarea type="text" name="name" id="name" rows="3"></textarea>
    <label for="desc">Describe your Dish</label>
    <textarea type="text" name="desc" id="desc" rows="3"></textarea>
    <label for="ingredients">List ingredients</label>
    <textarea type="text" name="ingredients" id="ingredients" rows="3"></textarea>
    <label for="course">Which course is your dish</label>
    <textarea type="text" name="course" id="course" rows="3"></textarea>
    <button type="submit">Submit</button>
  </form>
</div>
<% if (!orders) { %>
<h3>No orders</h3>
<% }else{ for( let i = 0; i < orders.length; i++ ) { %>
  <div class='container d-flex
  flex-row
  align-content-between
  justify-content-between
  flex-wrap
  mt-5 '>
    <div class="card" style="width: 30rem;">
      <div class="card-body">
          <h3 class="card-title" style='border-bottom:1px solid black'>Ordered by : <%=orders[i].user[0].toUpperCase()+  orders[i].user.substr(1) %></h3> 
          <% orders[i].itemIds.forEach((x,y)=>{ %>
          <h3><%=orders[i].itemIds[y].name %></h3>
          <h5 class="card-subtitle mb-2 text-muted"><%=orders[i].itemIds[y].course %></h3>
          <% }) %>

<h2><%=orders[i].createdAt.substr(0,orders[i].createdAt.indexOf('GMT'))%></h2>
</div>
</div>
</div>
<% }} %> <%- include('partials/footer') -%>
