<%- include('partials/header') -%>

<h2 class="mt-3">
  Hello <%=user.userName[0].toUpperCase() + user.userName.substr(1)%>
</h2>
<h1 class="mx-auto text-center">Check out the menu.</h1>
<div class="container">
  <div
    class="
      d-flex
      flex-row
      align-content-between
      justify-content-between
      flex-wrap
      mt-5
    "
    style="width: 76%; margin: auto"
  >
    <% for(var i=0; i < items.length; i++) {%> <% if(items[i].available) { %>
    <div class="card mb-5" style="width: 17rem">
      <img style='height:55%' class="card-img-top" src=<%=items[i].image
      ||"/images/logo.png"%> alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title"><%= items[i].name%></h5>
        <p class="card-text"><%= items[i].desc%></p>
        <p class="card-text"><%= items[i].course%></p>
        <button class="orderCards btn btn-primary" value="<%= items[i]._id%>">
          Add/Remove from order
        </button>
        <% if(user.isAdmin){ %>
        <form
          action="/items/removeItem/<%= items[i]._id %>?_method=PUT"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary mt-2" type="submit">Remove</button>
        </form>

        <% } %>
      </div>
    </div>
    <% }} %>
  </div>
</div>

<form id="orderForm" action="/orders/addOrder" method="POST">
  <input name="orders" id="orders" type="text" hidden />
  <button
    class="btn btn-primary"
    type="submit"
    style="margin: 0 auto; display: block; padding: 10px"
  >
    Submit Order
  </button>
</form>
<footer class="bg-light text-center text-lg-start mt-5">
  <script src="/javascript/order.js"></script>
  <%- include('partials/footer') -%>
</footer>
